<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--  이 매퍼 XML 파일에서는 SQL 쿼리와 자바 객체 간의 매핑을 정의하며, namespace는 매퍼 파일을 고유하게 식별하는 이름 공간을 지정합니다. -->
  <!-- ArticleMapper 클래스에서는 SQL 쿼리를 메서드로 정의하고, XML 파일 내의 SQL 쿼리와 매핑됩니다. -->
  <mapper namespace="com.example.boardapp.mapper.ArticleMapper">  

    <select id="selectArticleList" resultType="ArticleDto">
        SELECT 
          id, 
          title, 
          contents, 
          writer,
          reg_date as regDate
        FROM article
        ORDER BY id DESC          
    </select>
  
  
    <insert id="insertArticle" parameterType="ArticleDto" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO article (title, contents, writer, reg_date)
       VALUES (#{title}, #{contents}, #{writer}, #{regDate})          
    </insert>


    <select id="selectArticleById" parameterType="int" resultType="ArticleDto">
        SELECT 
            id, 
            title, 
            contents, 
            writer,
            reg_date as regDate
        FROM article
        WHERE id = #{id}                  
    </select>


    <update id="updateArticle" parameterType="ArticleDto">    
      UPDATE article
      SET title = #{title}, contents = #{contents}, writer = #{writer}
      WHERE id = #{id}   <!-- 파라미터 바인딩 : WHERE id = ? -->    
    </update>

  
   <!-- 동적 SQL -->
    <select id="findArticleList" parameterType="com.example.boardapp.util.Criteria" resultType="ArticleDto">
         SELECT 
            id, 
            title, 
            contents, 
            writer,
            reg_date as regDate
          FROM article        
          <if test="(keyfield != null and keyfield != '') and (keyword != null and keyword != '')">
            <trim prefix="WHERE" >
            <choose>
                <when test="keyfield == 'writer'">
                    writer LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="keyfield == 'contents'">
                    contents LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="keyfield == 'title'">
                    title LIKE CONCAT('%', #{keyword}, '%')  
                </when>            
            </choose>
            </trim>
          </if>       
          ORDER BY id DESC
    </select>

    <!-- 게시글 검색 (Map 파라미터 사용) -->
    <select id="findArticleList" resultType="ArticleDto" parameterType="map">
        SELECT
            id,
            title,
            contents,
            writer,
            reg_date AS regDate
        FROM article
        <where>
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'contents'">
                        AND contents LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        AND writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'all'">
                        AND (title LIKE CONCAT('%', #{keyword}, '%') 
                             OR contents LIKE CONCAT('%', #{keyword}, '%') 
                             OR writer LIKE CONCAT('%', #{keyword}, '%'))
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY id DESC
        <if test="pageSize != null and offset != null">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

</mapper>
